{{ partial "header.html" . }}
<div class="page-description"><i>{{ .Description }}</i><br><br></div>
{{ if ne .Params.subsection true }}
{{ partial "mermaid-map.html" . }}
<hr>
{{end}}

{{ if eq .Kind "section" }}
	{{ .Content }}
{{end}}

<script src="https://utteranc.es/client.js"
        repo="pocc/tshark.dev"
        issue-term="pathname"
        label="utterances"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

{{ if or (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") }}
<ul>
	{{ range .Pages }}
		<li><a href="{{.URL}}">{{.Title}}</a></li>
	{{ end }}
</ul>
{{end}}

<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>

{{ partial "footer.html" . }}