{{ partial "header.html" . }}
<div class="page-description"><i>{{ .Description }}</i></div>
<h4>Table of Contents</h4>
{{ .TableOfContents }}
{{ if .Summary }}
    <h4>Quicklinks</h4>
    {{ .Summary }}
{{ end }}
{{ .Content }}

<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	    </div>
	{{end}}
</footer>


{{ partial "footer.html" . }}
