{{ partial "header.html" . }}
<div class="page-description"><i>{{ .Description }}</i></div>
<div class="page-description"><i class="fas fa-clock"></i> {{ .ReadingTime }} min　|　<i class="fas fa-feather-alt"></i> {{ .Params.Author }}　|　<i class="far fa-calendar-check"></i> {{ .Date.Format "January 1, 2006"}}</div>

{{ if ne .Title "Pcap Table" }}
<h4>Table of Contents</h4>
{{ .TableOfContents }}
{{ end }}
{{ if and (isset .Params "summary") (ne .Params.summary "") }}
  <p><i class="fas fa-external-link-square-alt"></i> <b>Quicklinks:</b> {{ .Summary }}</p>
{{ end }}
<hr>

{{ .Content }}

{{ if and (ne .Kind "section") (ne .Params.subsection true) }}
<script src="https://utteranc.es/client.js"
        repo="pocc/tshark.dev"
        issue-term="pathname"
        label="utterances"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{{end}}

{{ partial "footer.html" . }}
