{{ partial "header.html" . }}
{{ partial "mermaid-map.html" .FirstSection }}
<hr>
<div class="page-description"><i>{{ .Description }}</i></div>
<div class="page-description"><i class="fas fa-clock"></i> {{ .ReadingTime }} min　|　<i class="fas fa-feather-alt"></i> {{ .Params.Author }}　|　<i class="far fa-calendar-check"></i> {{ .Date.Format "January 1, 2006"}}</div>

{{ if ne .Title "Pcap Table" }}
<h4>Table of Contents</h4>
{{ .TableOfContents }}
{{ end }}
{{ if and (isset .Params "summary") (ne .Params.summary "") }}
  <p><i class="fas fa-external-link-square-alt"></i> <b>Quicklinks:</b> {{ .Summary }}</p>
{{ end }}
<hr>

{{ .Content }}

{{ if and (ne .Kind "section") (ne .Params.subsection true) }}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ .Permalink }}";
        this.page.identifier = "{{ .RelPermalink }}";
        this.page.title = "{{ .Title }}";
    };
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://tshark-dev.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{{end}}

{{ partial "footer.html" . }}
