<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
    /* Custom css */
</style>
-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143435644-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143435644-1');
</script>

<!--
Generate chart with bash:
all_files=("$(find . -type f)")
file_types=$(for i in ${all_files[*]}; do captype "$i" | awk -F ': ' '{ if ($2 != "unknown") print $2}'; done);
echo "$files" | sort | uniq -c | sort -r | gawk '{print "\133\047"$2"\047\054\040"$1"\135\054" }'
-->
{{ if eq .Title "Format Usage" }} <!-- only load this javascript for the file that uses a pie graph. _index uses a screenshot of it. -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
        ['Capture Format', 'Quantity'],
        ['pcap', 5187],
        ['pcapng', 1755],
        ['others <1%', 627]
        ]);

        var options = {
          title: 'Capture Types'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>
{{end}}
{{ if eq .Title "Search Pcaps" }}
<style>
  * {
    box-sizing: border-box;
  }
  #body .padding {
    padding: 0rem 0rem;
    margin: 0;
    padding-right: 40px;
  }
  @media only all and (max-width: 59.938em) {
  #body .padding {
    position: static;
    padding: 0px 0rem;
    }
  }
  input,
  label,
  select {
    display: inline-block; 
  }
</style>
<link href=https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css rel=stylesheet>
<script src=https://code.jquery.com/jquery-3.3.1.js></script>
<script src=https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js></script>
<script>$(document).ready(function(){
  $('#pcap-search').DataTable(
    {
      "ajax": "/data/min_captures.json",
    });
  });
</script>
{{ end }}