<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
    /* Custom css */
</style>
-->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143435644-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143435644-1');
</script>

<!--
Generate chart with bash:
all_files=("$(find . -type f)")
file_types=$(for i in ${all_files[*]}; do captype "$i" | awk -F ': ' '{ if ($2 != "unknown") print $2}'; done);
echo "$files" | sort | uniq -c | sort -r | gawk '{print "\133\047"$2"\047\054\040"$1"\135\054" }'
-->
{{ if eq .Title "Format Usage" }} <!-- only load this javascript for the file that uses a pie graph. _index uses a screenshot of it. -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
        ['Capture Format', 'Quantity'],
        ['pcap', 5187],
        ['pcapng', 1755],
        ['others <1%', 627]
        ]);

        var options = {
          title: 'Capture Types'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>
{{end}}
{{ if eq .Title "Search Pcaps" }}
<link href=https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css rel=stylesheet>
<style>
  * {
    box-sizing: border-box;
  }
  #body .padding {
    padding: 0rem 0rem;
    margin: 0;
    padding-right: 40px;
  }
  @media only all and (max-width: 59.938em) {
  #body .padding {
    position: static;
    padding: 0px 0rem;
    }
  }
  input,
  label,
  select {
    display: inline-block;
    font-weight:normal;
    margin-bottom: 0rem;
    text-align: left;
  }
  table{ /* Via https://datatables.net/forums/discussion/30530/set-fixed-column-width */
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word;
  }
  #pcap-search-qualifiers {
    width: 20%;
  }
</style>
<script src=https://code.jquery.com/jquery-3.3.1.js></script>
<script src=https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js></script>
<script>

$.fn.dataTable.ext.search.push( // Via https://datatables.net/examples/plug-ins/range_filtering.html
  function(settings, data, dataIndex) {
    function convert_to_bytes(size_str) {
      size_number = parseInt(size_str)
      if (size_str === NaN) {return 0;}
      if (size_str.includes("KB")) {
        return 1024*size_number;
      } if (size_str.includes("MB")) {
        return 1048576*size_number;
      } if (size_str.includes("GB")) {
        return 1073741824*size_number;
      } 
      return size_number;
    }

    var query_str = $('#pcap-search-qualifiers').val();
    var query_vals = /(size|length|packets|ifaces)\s*(==|>=|<=|!=|>|<)\s*(\d+(?:\s*[KMG]?B)?)/g;
    var parsed_vals = [...query_str.matchAll(query_vals)];
    // It's fine if the user has entered an invalid string or none at all
    if (parsed_vals.length === 0) {return true;}
    // Four parts of array should be full match, name, comparator, value
    result = true
    parsed_vals.forEach(function(parsed_match) {
      operand = parsed_match[2]
      if (parsed_match[1]=="size") {
        left = convert_to_bytes(data[3])
        right = convert_to_bytes(parsed_match[3])
      } else {
        right = parseInt(parsed_match[3])
        if (parsed_match[1]=="length") {
          left = parseInt(data[4])
        } else if (parsed_match[1]=="packets") {
          left = parseInt(data[5])
        } else if (parsed_match[1]=="ifaces") {
          left = parseInt(data[6])
        }
      }
      if (operand === "==") {
        result = result && left == right;
      } else if (operand === ">=") {
        result = result && left >= right;
      } else if (operand === "<=") {
        result = result && left <= right;
      } else if (operand === "!=") {
        result = result && left != right;
      } else if (operand === ">") {
        result = result && left > right;
      } else if (operand === "<") {
        result = result && left < right;
      } else {
        result = false;
      }
    });
    return result;
  }
);

function resize_searchboxes() {
  var table_width = $('#pcap-search').width()
  $("#pcap-search_filter > label").css({"width": parseInt(table_width/2.1).toString() + "px"})
  $("#pcap-search-qualifiers").css({"width":parseInt(table_width/2.1).toString() + "px"})
}

$(document).ready(function(){
  var table = $('#pcap-search').DataTable(
    {
      responsive: true,
      ajax: "/data/min_captures.json",
      "columnDefs": [
      { "width": "15%", "targets": 0 },
      { "width": "8%", "targets": 3 },
      { "width": "10%", "targets": 4 },
      { "width": "9%", "targets": 5 },
      { "width": "8%", "targets": 6 },
    ],
  });
  // Makes it so search box is the same width as the pcap search table
  qualifiers_input = '&nbsp;&nbsp;&nbsp;&nbsp;<label><input type="text" id="pcap-search-qualifiers" name="pcap-search-qualifiers" placeholder="Inequality like `size > 100KB`"></label>'
  help_link = '&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Use one or both search boxes&nbsp;&nbsp;&nbsp;[<a href="/download/#search-syntax">Search Syntax</a>]'
  $("#pcap-search_length").append(help_link)
  $("#pcap-search_filter").append(qualifiers_input)
  // Resize initially
  resize_searchboxes()
  $("#pcap-search_filter > label > input[type=search]").attr("placeholder","Search term like `igmp \"AirPcap trace\"`")
  $('#pcap-search-qualifiers').keyup(function() {
      table.draw();
  });
});
</script>
{{ end }}