<!-- Partial intended to be overwritten with tags loaded at the end of the page loading (usually for Javascript) 
<script>
    console.log("running some javascript");
</script>
-->
<script>
  (function androidMermaidMapWarning() { // Hide Mermaid Map for Android Chrome (see github.com/pocc/tshark.dev/issues/7)
    if (navigator.userAgent.includes("Android") && navigator.userAgent.includes("Chrome")) {
      var newEl = document.createElement('div');
      newEl.innerHTML = '<div class="notices warning"><p>You are using Android/Chrome, which <i>can</i> break diagram button text and links. Android/Firefox and every other Android browser work fine.<br><br>If the diagram is broken for you, please post these to the <a href="https://github.com/pocc/tshark.dev/issues/7">Android SVG Issue</a><br>&nbsp;• Phone model<br>&nbsp;• Android Version<br>&nbsp;• Chrome Version</p></div>';
      [].forEach.call(document.querySelectorAll('.page-description'), function (el) {
          el.parentNode.insertBefore(newEl, el.nextSibling);
      });
    }
  })()
</script>
{{ if eq .Title "Search Pcaps" }}
<script>
$(document).ready(function() {
  $('#pcap-search').DataTable( {
      responsive: true
  } );
} );
window.onload = function () {
document.getElementById("pcap-search_filter").innerHTML = '<label><input type="search" class="" placeholder="" aria-controls="pcap-search"></label>'
}
</script>
{{end}}