<!-- Partial intended to be overwritten to add custom headers, like CSS or any other info
<style type="text/css">
    /* Custom css */
</style>
Generate chart with bash:
all_files=("$(find . -type f)")
file_types=$(for i in ${all_files[*]}; do captype "$i" | awk -F ': ' '{ if ($2 != "unknown") print $2}'; done);
echo "$files" | sort | uniq -c | sort -r | gawk '{print "\133\047"$2"\047\054\040"$1"\135\054" }'
-->
{{ if eq .Title "Capture Formats" }} <!-- only load this javascript for the file that uses a pie graph. _index uses a screenshot of it. -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
        ['Capture Format', 'Quantity'],
        ['pcap', 5187],
        ['pcapng', 1755],
        ['others <1%', 627]
        ]);

        var options = {
          title: 'Capture Types'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
</script>
{{end}}