<!-- Pagefind Search -->
<div class="searchbox">
    <div id="pagefind-search"></div>
</div>

<!-- Load Pagefind UI -->
<link href="/pagefind/pagefind-ui.css" rel="stylesheet">
<script src="/pagefind/pagefind-ui.js"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        new PagefindUI({
            element: "#pagefind-search",
            showSubResults: true,
            showImages: false,
            excerptLength: 15,
            processResult: function(result) {
                return result;
            }
        });
    });
</script>
