{{ partial "header.html" . }}
<h1>{{ .Params.Title }}</h1>
<p class="mermaid-map" style="padding-bottom: 9px;text-align:center;font-size:24px">Capture Lifecycle with Tshark</p>
{{ partial "mermaid-map.html" . }}
{{ .Content }}
{{ partial "footer.html" . }}
<!-- Kludge to highlight /home when in / -->
<script>
   [].forEach.call(document.querySelectorAll('li') , function (el) {
    if (el.title === "Home") {
            el.classList.add("active");
            console.log(el);
       }
    });
</script>